## 1. pandas로 데이터 수집하기
### pd.read_html
* 판다스의 pd.read-html 기능으로 데이터가 정상 수집 된다면 requests나 다른 라이브러리 사용할 필요없이 매우 간단하게 코드 한줄로 수집할 수가 있다.

* 하지만 정상 수집이 안된다면 requests 라이브러리를 사용하여 웹페이지 가져오기

### 개별종목 일별시세 수집하기
네이버금융 웹페이지를 통해 네이버 일별시세 수집하기

https://finance.naver.com/item/sise.nhn?code=035420

In [1]:
import pandas as pd

In [2]:
item_code = '133690'
item_name = 'NAVER'
url = 'https://finance.naver.com/item/sise.nhn?code=035420'

In [3]:
# 판다스 만으로도 데이터가 잘 가져와 졌다.
table = pd.read_html(url, encoding = 'cp949')

# 총 12개의 테이블이 있구나 
print(len(table)) 

# 하지만 0~11 의 테이블을 검색해 봐도 내가 원하는 일별 시세 테이블이 없다
table[0]

# URL 설정을 다시 해야 한다. 
# 개발자 도구(OR 마우스 오른쪽 검사) -> NETWORK -> 원하는 페이지 클릭 -> REQUESTS URL 복사
# 이때 requests 라이브러리 사용해야 함 : requests url 이기 때문
# https://finance.naver.com/item/sise_day.nhn?code=035420&page=1

12

,0,1,2
0,"전일 417,500 417,500","고가 423,500423,500 (상한가 542,000542,000 )","거래량 542,545 542,545"
1,"시가 418,000418,000","저가 410,500410,500 (하한가 292,500 )","거래대금 225,658 225,658 백만"

## 2. requests 
HTTP(웹사이트)를 호출하는데 사용되는 라이브러리

#### URL 찾기
개발자 도구(or 마우스 오른쪽 -> 검사) -> NETWORK -> DOCS -> CLEAR 

-> 수집할 페이지 넘기기 -> 원하는 페이지 URL 클릭 -> HEADERS 탭 

* <GENERAL부분>
    * Requests URL : http:// ~ 
    * Requests Method : GET
    * Status Code : 200 (정상)
    

* <Request Headers 부분> 
    * user-agent : ~ 

#### API
어떤 방식(method)의 HTTP 요청을 하느냐에 따라서 해당하는 이름의 함수를 사용하면 됩니다.

* GET 방식: requests.get()
* POST 방식: requests.post()
* PUT 방식: requests.put()
* DELETE 방식: requests.delete()

In [4]:
# 필요한 라이브러리 로드하기 
import pandas as pd 
import requests

In [5]:
item_code = '133690'
item_name = 'NAVER'
url =' https://finance.naver.com/item/sise_day.nhn?code=035420&page=1'

In [6]:
# requests를 통해 가져온 url을 response 를 줄여서 res 라는 변수에 넣어준다
res = requests.get(url)

# 200 으로 정상적으로 가져와진것을 확인
res

In [7]:
# res.text 
# 출력해 보면 페이지를 찾을 수 없음으로 나옴 
# urser 를 통한 접근이 아닌 컴푸터가 접근한것으로 간주하여 접근을 막았기 때문이다.
# headers 에 urser-agent를 넣어서 user가 접근한것처럼 해준다.

#### user-agent
* 나의 블라우저가 웹사이트에 접속할 때 주는 header 정보에 따라서 사이트가 스마트폰, 데스크 탑인지 판단하고 어떤 화면을 보여 줄지 판단 한다.
* 사람(uder-agent)이 아닌 컴퓨터 접근(웹스트랩핑 or 크롤링) 일때 웹사이트가 접속을 차단하여 원하는 정보를 가져가지 못하게 막는다.
* headers 에 user-agent를 딕셔너리 형태로 넣어서 사람이 접근한것처럼 해준다.


* url(웹페이지) 에 접속할때 header 정보로 'user-agent'를 넘겨준다는 뜻
    * headers = {'user-agent' : '~~~~'}
    * response = requests.get(url, headers = headers)

* user-agent 코드는 network을 통해 url 찾았던 headers 탭에서 찾을 수 있다.

In [8]:
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36'}
res = requests.get(url, headers = headers )
res

In [9]:
type(headers)

dict

In [10]:
res.text
# 잘 가져와진것을 확인 할 수 있다.

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.07.01</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">411,000</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t6,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">418,000</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">423,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">410,500</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">545,746</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">417,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t6,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">415,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">425,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">409,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">955,297</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.29</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">411,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t3,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">409,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">411,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">406,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">572,319</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.28</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">408,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t2,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">406,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">413,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">403,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">623,480</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.25</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">410,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t9,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">420,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">420,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">405,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">1,382,051</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.24</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">419,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t4,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">430,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">436,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">413,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">2,143,286</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">423,500</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t32,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">393,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">427,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">392,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">2,721,355</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">391,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t6,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">400,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">400,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">391,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">702,840</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.21</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">397,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">398,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">402,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">392,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">809,114</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.06.18</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">398,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t8,500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">391,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">400,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">391,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">1,268,656</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=035420&amp;page=462"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

In [11]:
# pandas로 읽기

table = pd.read_html(res.text)
print(len(table))
table[0]
# 0 번째 table 이 내가 원하는 데이터이다.

2

            날짜        종가      전일비        시가        고가        저가        거래량
0          NaN       NaN      NaN       NaN       NaN       NaN        NaN
1   2021.07.01  411000.0   6500.0  418000.0  423500.0  410500.0   545746.0
2   2021.06.30  417500.0   6000.0  415000.0  425000.0  409000.0   955297.0
3   2021.06.29  411500.0   3500.0  409500.0  411500.0  406000.0   572319.0
4   2021.06.28  408000.0   2000.0  406000.0  413000.0  403000.0   623480.0
5   2021.06.25  410000.0   9500.0  420000.0  420000.0  405000.0  1382051.0
6          NaN       NaN      NaN       NaN       NaN       NaN        NaN
7          NaN       NaN      NaN       NaN       NaN       NaN        NaN
8          NaN       NaN      NaN       NaN       NaN       NaN        NaN
9   2021.06.24  419500.0   4000.0  430000.0  436000.0  413000.0  2143286.0
10  2021.06.23  423500.0  32500.0  393000.0  427000.0  392500.0  2721355.0
11  2021.06.22  391000.0   6000.0  400000.0  400500.0  391000.0   702840.0
12  2021.06.21  397000.0   1000.0  398000.0  402000.0  392000.0   809114.0
13  2021.06.18  398000.0   8500.0  391500.0  400500.0  391000.0  1268656.0
14         NaN       NaN      NaN       NaN       NaN       NaN        NaN

## 3. BeautifulSoup 을 통한 table 태그 찾기

In [12]:
from bs4 import BeautifulSoup as bs

In [15]:
# bs로 한번 감싸주게 되면 text에 있는 테이블 테그만 가져온다.
html = bs(res.text, 'lxml')
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.07.01</span></td>
<td class="num"><span class="tah p11">411,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				6,500
				</span>
</td>
<td class="num"><span class="tah p11">418,000</span></td>
<td class="num"><span class="tah p11">423,500</span></td>
<td class="num"><span class="tah p11">410,500</span></td>
<td class="num"><span class="tah p11">545,746</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.30</span></td>
<td class="num"><span class="tah p11">417,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				6,000
				</span>
</td>
<td class="num"><span class="tah p11">415,000</span></td>
<td class="num"><span class="tah p11">425,000</span></td>
<td class="num"><span class="tah p11">409,000</span></td>
<td class="num"><span class="tah p11">955,297</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.29</span></td>
<td class="num"><span class="tah p11">411,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				3,500
				</span>
</td>
<td class="num"><span class="tah p11">409,500</span></td>
<td class="num"><span class="tah p11">411,500</span></td>
<td class="num"><span class="tah p11">406,000</span></td>
<td class="num"><span class="tah p11">572,319</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.28</span></td>
<td class="num"><span class="tah p11">408,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,000
				</span>
</td>
<td class="num"><span class="tah p11">406,000</span></td>
<td class="num"><span class="tah p11">413,000</span></td>
<td class="num"><span class="tah p11">403,000</span></td>
<td class="num"><span class="tah p11">623,480</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.25</span></td>
<td class="num"><span class="tah p11">410,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				9,500
				</span>
</td>
<td class="num"><span class="tah p11">420,000</span></td>
<td class="num"><span class="tah p11">420,000</span></td>
<td class="num"><span class="tah p11">405,000</span></td>
<td class="num"><span class="tah p11">1,382,051</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.24</span></td>
<td class="num"><span class="tah p11">419,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				4,000
				</span>
</td>
<td class="num"><span class="tah p11">430,000</span></td>
<td class="num"><span class="tah p11">436,000</span></td>
<td class="num"><span class="tah p11">413,000</span></td>
<td class="num"><span class="tah p11">2,143,286</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.23</span></td>
<td class="num"><span class="tah p11">423,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				32,500
				</span>
</td>
<td class="num"><span class="tah p11">393,000</span></td>
<td class="num"><span class="tah p11">427,000</span></td>
<td class="num"><span class="tah p11">392,500</span></td>
<td class="num"><span class="tah p11">2,721,355</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.22</span></td>
<td class="num"><span class="tah p11">391,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				6,000
				</span>
</td>
<td class="num"><span class="tah p11">400,000</span></td>
<td class="num"><span class="tah p11">400,500</span></td>
<td class="num"><span class="tah p11">391,000</span></td>
<td class="num"><span class="tah p11">702,840</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.21</span></td>
<td class="num"><span class="tah p11">397,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">398,000</span></td>
<td class="num"><span class="tah p11">402,000</span></td>
<td class="num"><span class="tah p11">392,000</span></td>
<td class="num"><span class="tah p11">809,114</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.06.18</span></td>
<td class="num"><span class="tah p11">398,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				8,500
				</span>
</td>
<td class="num"><span class="tah p11">391,500</span></td>
<td class="num"><span class="tah p11">400,500</span></td>
<td class="num"><span class="tah p11">391,000</span></td>
<td class="num"><span class="tah p11">1,268,656</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.nhn?code=035420&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=035420&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.nhn?code=035420&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.nhn?code=035420&amp;page=462">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210624194556/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

In [17]:
# html. 여러 모듈있음

In [21]:
# .select('table') 하게 되면 위에 text에서 table 태그만 찾는다
temp = html.select('table')
temp

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.07.01</span></td>
 <td class="num"><span class="tah p11">411,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				6,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">418,000</span></td>
 <td class="num"><span class="tah p11">423,500</span></td>
 <td class="num"><span class="tah p11">410,500</span></td>
 <td class="num"><span class="tah p11">545,746</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.30</span></td>
 <td class="num"><span class="tah p11">417,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				6,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">415,000</span></td>
 <td class="num"><span class="tah p11">425,000</span></td>
 <td class="num"><span class="tah p11">409,000</span></td>
 <td class="num"><span class="tah p11">955,297</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.29</span></td>
 <td class="num"><span class="tah p11">411,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				3,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">409,500</span></td>
 <td class="num"><span class="tah p11">411,500</span></td>
 <td class="num"><span class="tah p11">406,000</span></td>
 <td class="num"><span class="tah p11">572,319</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.28</span></td>
 <td class="num"><span class="tah p11">408,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				2,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">406,000</span></td>
 <td class="num"><span class="tah p11">413,000</span></td>
 <td class="num"><span class="tah p11">403,000</span></td>
 <td class="num"><span class="tah p11">623,480</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.25</span></td>
 <td class="num"><span class="tah p11">410,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				9,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">420,000</span></td>
 <td class="num"><span class="tah p11">420,000</span></td>
 <td class="num"><span class="tah p11">405,000</span></td>
 <td class="num"><span class="tah p11">1,382,051</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.24</span></td>
 <td class="num"><span class="tah p11">419,500</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				4,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">430,000</span></td>
 <td class="num"><span class="tah p11">436,000</span></td>
 <td class="num"><span class="tah p11">413,000</span></td>
 <td class="num"><span class="tah p11">2,143,286</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.23</span></td>
 <td class="num"><span class="tah p11">423,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				32,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">393,000</span></td>
 <td class="num"><span class="tah p11">427,000</span></td>
 <td class="num"><span class="tah p11">392,500</span></td>
 <td class="num"><span class="tah p11">2,721,355</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.22</span></td>
 <td class="num"><span class="tah p11">391,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				6,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">400,000</span></td>
 <td class="num"><span class="tah p11">400,500</span></td>
 <td class="num"><span class="tah p11">391,000</span></td>
 <td class="num"><span class="tah p11">702,840</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.21</span></td>
 <td class="num"><span class="tah p11">397,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">398,000</span></td>
 <td class="num"><span class="tah p11">402,000</span></td>
 <td class="num"><span class="tah p11">392,000</span></td>
 <td class="num"><span class="tah p11">809,114</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.06.18</span></td>
 <td class="num"><span class="tah p11">398,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				8,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">391,500</span></td>
 <td class="num"><span class="tah p11">400,500</span></td>
 <td class="num"><span class="tah p11">391,000</span></td>
 <td class="num"><span class="tah p11">1,268,656</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>,
 <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="on">
 <a href="/item/sise_day.nhn?code=035420&amp;page=1">1</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=035420&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.nhn?code=035420&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.nhn?code=035420&amp;page=462">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>
 </table>]

In [22]:
len(temp)

2

In [23]:
# read_html을 이용하여 url의 page내의 값을 DataFrame으로 받아옵니다.
# cp949는 한글 인코딩을 위해 사용합니다. 기본 인코딩 설정은 utf-8 이며, 
# 네이버의 일별 시세는 cp949 인코딩으로 불러올 수 있습니다.
# 데이터를 로드 했을 때 한글 인코딩이 깨진다면 대부분 cp949 로 불러올 수 있습니다.
# table

# str타입으로 넣어주어야 해석할 수 있음
table = pd.read_html(str(temp))
table

[            날짜        종가      전일비        시가        고가        저가        거래량
 0          NaN       NaN      NaN       NaN       NaN       NaN        NaN
 1   2021.07.01  411000.0   6500.0  418000.0  423500.0  410500.0   545746.0
 2   2021.06.30  417500.0   6000.0  415000.0  425000.0  409000.0   955297.0
 3   2021.06.29  411500.0   3500.0  409500.0  411500.0  406000.0   572319.0
 4   2021.06.28  408000.0   2000.0  406000.0  413000.0  403000.0   623480.0
 5   2021.06.25  410000.0   9500.0  420000.0  420000.0  405000.0  1382051.0
 6          NaN       NaN      NaN       NaN       NaN       NaN        NaN
 7          NaN       NaN      NaN       NaN       NaN       NaN        NaN
 8          NaN       NaN      NaN       NaN       NaN       NaN        NaN
 9   2021.06.24  419500.0   4000.0  430000.0  436000.0  413000.0  2143286.0
 10  2021.06.23  423500.0  32500.0  393000.0  427000.0  392500.0  2721355.0
 11  2021.06.22  391000.0   6000.0  400000.0  400500.0  391000.0   702840.0
 12  2021.06.21  397000.0   1000.0  398000.0  402000.0  392000.0   809114.0
 13  2021.06.18  398000.0   8500.0  391500.0  400500.0  391000.0  1268656.0
 14         NaN       NaN      NaN       NaN       NaN       NaN        NaN,
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [24]:
len(table)

2

In [25]:
# table[0]와 table[1]을 확인하여 보면 table[0]에 필요한 데이터들이 있습니다.
table[0].head(3)

           날짜        종가     전일비        시가        고가        저가       거래량
0         NaN       NaN     NaN       NaN       NaN       NaN       NaN
1  2021.07.01  411000.0  6500.0  418000.0  423500.0  410500.0  545746.0
2  2021.06.30  417500.0  6000.0  415000.0  425000.0  409000.0  955297.0

In [26]:
df_temp = table[0]
df_temp.head()

           날짜        종가     전일비        시가        고가        저가       거래량
0         NaN       NaN     NaN       NaN       NaN       NaN       NaN
1  2021.07.01  411000.0  6500.0  418000.0  423500.0  410500.0  545746.0
2  2021.06.30  417500.0  6000.0  415000.0  425000.0  409000.0  955297.0
3  2021.06.29  411500.0  3500.0  409500.0  411500.0  406000.0  572319.0
4  2021.06.28  408000.0  2000.0  406000.0  413000.0  403000.0  623480.0

In [27]:
# dropna를 통해 결측치가 들어있는 row를 제거합니다.
df_day = df_temp.dropna()
df_day.head()

           날짜        종가     전일비        시가        고가        저가        거래량
1  2021.07.01  411000.0  6500.0  418000.0  423500.0  410500.0   545746.0
2  2021.06.30  417500.0  6000.0  415000.0  425000.0  409000.0   955297.0
3  2021.06.29  411500.0  3500.0  409500.0  411500.0  406000.0   572319.0
4  2021.06.28  408000.0  2000.0  406000.0  413000.0  403000.0   623480.0
5  2021.06.25  410000.0  9500.0  420000.0  420000.0  405000.0  1382051.0

## 페이지별 데이터 수집 함수 만들기

In [29]:
# 종목 번호를 이용해 page에 따라 데이터를 읽어오는 함수
# """ 는 이 두개 사이의 행들은 주석 처리되며, 함수의 docstring 으로 사용됩니다.

def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지별로 수집
    """ 
    url = f'https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}'
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.106 Safari/537.36'}
    response = requests.get(url, headers=headers)
    html = bs(response.text, 'lxml') 
    temp = html.select('table')
    table = pd.read_html(str(temp))
    df_day = table[0].dropna()
    return df_day

In [31]:
# 함수가 잘 만들어졌는지 확인하기
page_no=5
item_code= 133690
get_day_list(item_code, page_no)

            날짜       종가    전일비       시가       고가       저가       거래량
1   2021.05.04  69280.0  550.0  69830.0  69830.0  69085.0   77163.0
2   2021.05.03  69830.0  450.0  69420.0  69830.0  69420.0   61512.0
3   2021.04.30  69380.0  260.0  69195.0  69380.0  69020.0   60086.0
4   2021.04.29  69640.0   10.0  69570.0  69720.0  69415.0   64746.0
5   2021.04.28  69720.0  180.0  69785.0  69845.0  69630.0   58954.0
9   2021.04.27  69900.0  355.0  69865.0  70000.0  69765.0   79738.0
10  2021.04.26  69545.0  575.0  69625.0  69725.0  69455.0   61963.0
11  2021.04.23  68970.0  910.0  69130.0  69260.0  68955.0  106331.0
12  2021.04.22  69880.0  825.0  69510.0  69880.0  69510.0   51768.0
13  2021.04.21  69055.0  445.0  69000.0  69055.0  68705.0   82281.0

## 반복문을 통한 전체 일자 데이터 수집하기
* (주의) 기간이 긴 데이터를 수집할때는 서버에 부담을 주지 않기 위해 time.sleep()값을 주세요.

In [32]:
import time
# web page 시작번호
page_no = 1 
start_page = 1
end_page =10
# 데이터를 저장할 빈 변수 선언
item_list = []
for page_no in range(start_page, end_page+1):
    df_temp_day = get_day_list(item_code, page_no)
    item_list.append(df_temp_day)
    time.sleep(0.1)

In [33]:
item_list

[            날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.07.01  73980.0   330.0  73845.0  74095.0  73790.0   61573.0
 2   2021.06.30  73650.0   295.0  73750.0  74050.0  73605.0   99353.0
 3   2021.06.29  73355.0   555.0  73385.0  73495.0  73330.0   65044.0
 4   2021.06.28  72800.0   150.0  72650.0  72815.0  72570.0   52572.0
 5   2021.06.25  72650.0   190.0  72975.0  73010.0  72565.0   96230.0
 9   2021.06.24  72840.0    75.0  72735.0  72975.0  72705.0   91304.0
 10  2021.06.23  72915.0  1110.0  72445.0  72915.0  72445.0   89395.0
 11  2021.06.22  71805.0   250.0  71800.0  71940.0  71730.0   64545.0
 12  2021.06.21  71555.0   460.0  71500.0  71555.0  71245.0   84238.0
 13  2021.06.18  72015.0  1495.0  71010.0  72135.0  71005.0  189338.0,
             날짜       종가    전일비       시가       고가       저가      거래량
 1   2021.06.17  70520.0  155.0  70420.0  70615.0  70195.0  65593.0
 2   2021.06.16  70365.0  450.0  70400.0  70450.0  70345.0  53401.0
 3   2021.06.15  70815.0  700.0  70605.0  70885.0  70605.0  88754.0
 4   2021.06.14  70115.0  575.0  69680.0  70195.0  69655.0  83256.0
 5   2021.06.11  69540.0  440.0  69600.0  69655.0  69465.0  46807.0
 9   2021.06.10  69100.0   50.0  69090.0  69160.0  69050.0  39303.0
 10  2021.06.09  69050.0   15.0  69185.0  69230.0  69015.0  32629.0
 11  2021.06.08  69065.0  575.0  68780.0  69150.0  68780.0  69973.0
 12  2021.06.07  68490.0  900.0  68530.0  68580.0  68375.0  68870.0
 13  2021.06.04  67590.0  685.0  67555.0  67770.0  67550.0  69831.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.06.03  68275.0   190.0  68145.0  68350.0  68110.0   38215.0
 2   2021.06.02  68085.0   175.0  67785.0  68095.0  67705.0   66744.0
 3   2021.06.01  67910.0   335.0  68125.0  68145.0  67800.0   83332.0
 4   2021.05.31  68245.0   105.0  68350.0  68605.0  68175.0   68243.0
 5   2021.05.28  68350.0   190.0  68650.0  68725.0  68350.0   66361.0
 9   2021.05.27  68540.0    25.0  68595.0  68760.0  68460.0   60947.0
 10  2021.05.26  68565.0   435.0  68970.0  69005.0  68470.0  171090.0
 11  2021.05.25  69000.0  1105.0  68700.0  69120.0  68695.0  189366.0
 12  2021.05.24  67895.0   355.0  67670.0  68010.0  67570.0  118596.0
 13  2021.05.21  68250.0  1095.0  68275.0  68435.0  68190.0   76351.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.05.20  67155.0   745.0  67850.0  67875.0  66900.0   57598.0
 2   2021.05.18  67900.0   165.0  67875.0  68030.0  67690.0   51989.0
 3   2021.05.17  68065.0  1370.0  67655.0  68070.0  66695.0   90273.0
 4   2021.05.14  66695.0   585.0  66270.0  66885.0  66255.0   65056.0
 5   2021.05.13  66110.0   860.0  66055.0  66265.0  65925.0  114869.0
 9   2021.05.12  66970.0   410.0  66700.0  67195.0  66540.0   79432.0
 10  2021.05.11  66560.0  1885.0  66795.0  66865.0  66165.0  250924.0
 11  2021.05.10  68445.0    45.0  68800.0  68900.0  68400.0   62920.0
 12  2021.05.07  68490.0   290.0  68220.0  68710.0  68220.0   77180.0
 13  2021.05.06  68200.0  1080.0  68775.0  68800.0  67960.0  140259.0,
             날짜       종가    전일비       시가       고가       저가       거래량
 1   2021.05.04  69280.0  550.0  69830.0  69830.0  69085.0   77163.0
 2   2021.05.03  69830.0  450.0  69420.0  69830.0  69420.0   61512.0
 3   2021.04.30  69380.0  260.0  69195.0  69380.0  69020.0   60086.0
 4   2021.04.29  69640.0   10.0  69570.0  69720.0  69415.0   64746.0
 5   2021.04.28  69720.0  180.0  69785.0  69845.0  69630.0   58954.0
 9   2021.04.27  69900.0  355.0  69865.0  70000.0  69765.0   79738.0
 10  2021.04.26  69545.0  575.0  69625.0  69725.0  69455.0   61963.0
 11  2021.04.23  68970.0  910.0  69130.0  69260.0  68955.0  106331.0
 12  2021.04.22  69880.0  825.0  69510.0  69880.0  69510.0   51768.0
 13  2021.04.21  69055.0  445.0  69000.0  69055.0  68705.0   82281.0,
             날짜       종가    전일비       시가       고가       저가       거래량
 1   2021.04.20  69500.0  920.0  69760.0  69795.0  69420.0  150462.0
 2   2021.04.19  70420.0  430.0  70070.0  70600.0  70065.0   75647.0
 3   2021.04.16  69990.0  505.0  70185.0  70350.0  69940.0   75023.0
 4   2021.04.15  69485.0  540.0  69285.0  69495.0  69240.0  120360.0
 5   2021.04.14  70025.0  350.0  70255.0  70420.0  70025.0  124518.0
 9   2021.04.13  69675.0    0.0  69715.0  69835.0  69640.0   79307.0
 10  2021.04.12  69675.0  545.0  69390.0  69760.0  69300.0  109578.0
 11  2021.04.09  69130.0  335.0  69080.0  69235.0  68995.0   94754.0
 12  2021.04.08  68795.0  750.0  68470.0  68880.0  68435.0   97850.0
 13  2021.04.07  68045.0  100.0  68200.0  68250.0  67900.0   84822.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.04.06  68145.0   715.0  68640.0  68700.0  68145.0  107983.0
 2   2021.04.05  67430.0    85.0  67575.0  67600.0  67400.0   79038.0
 3   2021.04.02  67515.0   695.0  67580.0  67670.0  67515.0   84645.0
 4   2021.04.01  66820.0  1330.0  66395.0  66820.0  66355.0   77553.0
 5   2021.03.31  65490.0   200.0  65600.0  65745.0  65350.0   55978.0
 9   2021.03.30  65690.0   395.0  65885.0  65905.0  65690.0   39296.0
 10  2021.03.29  65295.0     5.0  65320.0  65610.0  65180.0   81464.0
 11  2021.03.26  65300.0   100.0  65200.0  65320.0  65075.0   38827.0
 12  2021.03.25  65200.0  1080.0  65495.0  65495.0  65050.0   70418.0
 13  2021.03.24  66280.0   335.0  66250.0  66450.0  66250.0   60671.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.03.23  65945.0   505.0  66210.0  66210.0  65810.0   50698.0
 2   2021.03.22  65440.0   660.0  65265.0  65630.0  65200.0   70643.0
 3   2021.03.19  64780.0  1820.0  64830.0  65130.0  64610.0  141817.0
 4   2021.03.18  66600.0    85.0  66720.0  66855.0  66460.0   78824.0
 5   2021.03.17  66685.0   160.0  66650.0  66790.0  66525.0   46111.0
 9   2021.03.16  66525.0   775.0  66350.0  66695.0  66345.0  105238.0
 10  2021.03.15  65750.0   280.0  65995.0  66200.0  65750.0   67410.0
 11  2021.03.12  66030.0   615.0  66325.0  66385.0  65950.0   86118.0
 12  2021.03.11  65415.0   150.0  65200.0  65480.0  65025.0   78290.0
 13  2021.03.10  65265.0  1900.0  65130.0  65405.0  65035.0   97746.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.03.09  63365.0   345.0  63200.0  63695.0  63125.0   99144.0
 2   2021.03.08  63710.0   865.0  64000.0  65000.0  63545.0  125046.0
 3   2021.03.05  62845.0   820.0  62940.0  62940.0  62485.0  136220.0
 4   2021.03.04  63665.0  2395.0  64000.0  65200.0  63300.0  186920.0
 5   2021.03.03  66060.0   655.0  65870.0  66175.0  65830.0   71855.0
 9   2021.03.02  66715.0  2475.0  66495.0  66750.0  66495.0  113490.0
 10  2021.02.26  64240.0  2000.0  64195.0  64540.0  63790.0  220675.0
 11  2021.02.25  66240.0  1145.0  66065.0  66370.0  66000.0   78598.0
 12  2021.02.24  65095.0  1160.0  65570.0  65925.0  65020.0  156934.0
 13  2021.02.23  66255.0  1060.0  65835.0  66395.0  65835.0  130448.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.02.22  67315.0   225.0  67540.0  67540.0  67235.0   88867.0
 2   2021.02.19  67540.0   260.0  67600.0  67655.0  67270.0  101227.0
 3   2021.02.18  67800.0   600.0  67915.0  68000.0  67510.0  130402.0
 4   2021.02.17  68400.0    90.0  68485.0  68485.0  68065.0   91111.0
 5   2021.02.16  68490.0   140.0  68430.0  68630.0  68365.0  101784.0
 9   2021.02.15  68350.0   145.0  68430.0  68600.0  68325.0  161693.0
 10  2021.02.10  68205.0   230.0  68205.0  68435.0  68115.0  105162.0
 11  2021.02.09  68435.0   210.0  68560.0  68580.0  68310.0  145023.0
 12  2021.02.08  68645.0    60.0  68370.0  68700.0  68300.0  109106.0
 13  2021.02.05  68585.0  1515.0  67750.0  68620.0  67640.0  185020.0]

In [34]:
len(item_list)

10

## 수집한 데이터 하나의 데이터프레임으로 합치기

<img src="https://pandas.pydata.org/docs/_images/merging_concat_basic.png">

* [Merge, join, concatenate and compare documentation](https://pandas.pydata.org/docs/user_guide/merging.html#merge-join-concatenate-and-compare)

In [35]:
# DataFrame들이 list의 형태로 저장된 것을 concat을 이용하여 합치면서 하나의 DataFrame으로 만듭니다.
df = pd.concat(item_list)
df

            날짜       종가     전일비       시가       고가       저가       거래량
1   2021.07.01  73980.0   330.0  73845.0  74095.0  73790.0   61573.0
2   2021.06.30  73650.0   295.0  73750.0  74050.0  73605.0   99353.0
3   2021.06.29  73355.0   555.0  73385.0  73495.0  73330.0   65044.0
4   2021.06.28  72800.0   150.0  72650.0  72815.0  72570.0   52572.0
5   2021.06.25  72650.0   190.0  72975.0  73010.0  72565.0   96230.0
..         ...      ...     ...      ...      ...      ...       ...
9   2021.02.15  68350.0   145.0  68430.0  68600.0  68325.0  161693.0
10  2021.02.10  68205.0   230.0  68205.0  68435.0  68115.0  105162.0
11  2021.02.09  68435.0   210.0  68560.0  68580.0  68310.0  145023.0
12  2021.02.08  68645.0    60.0  68370.0  68700.0  68300.0  109106.0
13  2021.02.05  68585.0  1515.0  67750.0  68620.0  67640.0  185020.0

[100 rows x 7 columns]

<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [36]:
# head와 tail로 데이터의 일부를 가져와서 봅니다.
df.head()

           날짜       종가    전일비       시가       고가       저가      거래량
1  2021.07.01  73980.0  330.0  73845.0  74095.0  73790.0  61573.0
2  2021.06.30  73650.0  295.0  73750.0  74050.0  73605.0  99353.0
3  2021.06.29  73355.0  555.0  73385.0  73495.0  73330.0  65044.0
4  2021.06.28  72800.0  150.0  72650.0  72815.0  72570.0  52572.0
5  2021.06.25  72650.0  190.0  72975.0  73010.0  72565.0  96230.0

In [37]:
df.tail()

            날짜       종가     전일비       시가       고가       저가       거래량
9   2021.02.15  68350.0   145.0  68430.0  68600.0  68325.0  161693.0
10  2021.02.10  68205.0   230.0  68205.0  68435.0  68115.0  105162.0
11  2021.02.09  68435.0   210.0  68560.0  68580.0  68310.0  145023.0
12  2021.02.08  68645.0    60.0  68370.0  68700.0  68300.0  109106.0
13  2021.02.05  68585.0  1515.0  67750.0  68620.0  67640.0  185020.0

## 데이터프레임에 종목코드와 종목명을 추가하기
* 파생변수 만들기

In [38]:
# '종목코드'와 '종목명' column을 추가하면서 각각 item_code와 item_name 값을 입력합니다.
df["종목코드"] = item_code
df["종목명"] = item_name

In [39]:
df.head(3)

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.07.01,73980.0,330.0,73845.0,74095.0,73790.0,61573.0,133690,NAVER
2,2021.06.30,73650.0,295.0,73750.0,74050.0,73605.0,99353.0,133690,NAVER
3,2021.06.29,73355.0,555.0,73385.0,73495.0,73330.0,65044.0,133690,NAVER

## 컬럼 순서 변경하기

In [ ]:
# DataFrame에서 column 들의 이름을 순서를 조정하여 column순서를 변경할 수 있습니다.

In [40]:
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols]
df.head(1)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,133690,NAVER,2021.07.01,73980.0,330.0,73845.0,74095.0,73790.0,61573.0

## 중복데이터 제거하기
* drop_duplicates 를 통해 중복된 데이터가 있다면 제거합니다.

In [41]:
# drop_duplicates : row들 끼리 data를 비교하여 같은 값이 있으면 row중 하나를 삭제
# df.shape를 전/후로 출력하여 삭제된 row가 있는지 확인
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(100, 9)
(100, 9)

## 기술통계값 구하기

In [42]:
# describe는 기본적으로 수치데이터에 대한 기술통계값을 구하게 됩니다.
df.describe()

,종목코드,종가,전일비,시가,고가,저가,거래량
count,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,133690.0,68214.150000,582.200000,68196.100000,68429.950000,67995.000000,92161.100000
std,0.0,2314.135314,529.040641,2274.083851,2242.410037,2323.927797,40870.147115
min,133690.0,62845.000000,0.000000,62940.000000,62940.000000,62485.000000,32629.000000
25%,133690.0,66590.000000,190.000000,66383.750000,66780.000000,66322.500000,65053.000000
50%,133690.0,68312.500000,442.500000,68360.000000,68590.000000,68160.000000,80601.000000
75%,133690.0,69541.250000,786.250000,69525.000000,69733.750000,69416.250000,106744.000000
max,133690.0,73980.000000,2475.000000,73845.000000,74095.000000,73790.000000,250924.000000

* 참고 : E notation
[과학적 기수법 - 위키백과, 우리 모두의 백과사전](https://ko.wikipedia.org/wiki/%EA%B3%BC%ED%95%99%EC%A0%81_%EA%B8%B0%EC%88%98%EB%B2%95)

과학적 기수법, 과학적 표기법(scientific notation, scientific form, standard index form, standard form)은 너무 크거나 너무 작은 숫자들을 십진법으로 편하게 작성하여 표현하는 방법이다. 과학자, 수학자, 공학자들이 공통적으로 사용하는데, 부분적인 이유는 특정한 산술을 단순화시켜 주기 때문이다. 과학 계산기에서는 "SCI" 디스플레이 모드라는 이름으로 알려져 있다.

In [ ]:
# 거래량의 과학적 기수법 읽기

In [43]:
df.head(1)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,133690,NAVER,2021.07.01,73980.0,330.0,73845.0,74095.0,73790.0,61573.0

## 최근 날짜 구해서 파일명 만들기

In [44]:
# 날짜 column의 첫 row값 확인
# date

# date = df.iloc[0]["날짜"]
# date = date.replace(".", "-")
# date
date = df.iloc[0,2]
print(date)
date = date.replace('.','-')
date

2021.07.01

'2021-07-01'

In [46]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명 만들기
# file_name
file_name = f"{item_name}-{item_code}-{date}.csv"
file_name

'NAVER-133690-2021-07-01.csv'

## 파일로 저장하기

In [47]:
# 파일로 저장하기 
# index=False 로 데이터프레임의 기본 index 는 저장하지 않도록 합니다.
df.to_csv(file_name, index=False)

In [48]:
# 제대로 저장되었는지 파일을 읽어서 확인합니다.
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,133690,NAVER,2021.07.01,73980.0,330.0,73845.0,74095.0,73790.0,61573.0
1,133690,NAVER,2021.06.30,73650.0,295.0,73750.0,74050.0,73605.0,99353.0
2,133690,NAVER,2021.06.29,73355.0,555.0,73385.0,73495.0,73330.0,65044.0
3,133690,NAVER,2021.06.28,72800.0,150.0,72650.0,72815.0,72570.0,52572.0
4,133690,NAVER,2021.06.25,72650.0,190.0,72975.0,73010.0,72565.0,96230.0
...,...,...,...,...,...,...,...,...,...
95,133690,NAVER,2021.02.15,68350.0,145.0,68430.0,68600.0,68325.0,161693.0
96,133690,NAVER,2021.02.10,68205.0,230.0,68205.0,68435.0,68115.0,105162.0
97,133690,NAVER,2021.02.09,68435.0,210.0,68560.0,68580.0,68310.0,145023.0
98,133690,NAVER,2021.02.08,68645.0,60.0,68370.0,68700.0,68300.0,109106.0
99,133690,NAVER,2021.02.05,68585.0,1515.0,67750.0,68620.0,67640.0,185020.0

## 전체 과정을 하나의 함수로 만들기

In [49]:
def get_df(item_code, item_name):
    """
    일별 시세를 수집하는 함수
    """
    # web page 시작번호
    page_no = 1
    # 데이터를 저장할 빈 변수 선언
    item_list = []

    while True:
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)

        page_no = page_no + 1
        time.sleep(0.1)

        #if temp.shape[0] < 10:
        if page_no > 10:
            break
            
    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]

    return df

In [50]:
# item_code = "352820"
# item_name = "하이브"

item_code = "326030"
item_name = "SK바이오팜"
get_df(item_code, item_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.07.01,128000.0,5000.0,123000.0,128500.0,122000.0,584338.0
2,326030,SK바이오팜,2021.06.30,123000.0,2000.0,125000.0,125500.0,123000.0,231375.0
3,326030,SK바이오팜,2021.06.29,125000.0,2000.0,123500.0,126000.0,123000.0,316209.0
4,326030,SK바이오팜,2021.06.28,123000.0,1000.0,122000.0,124500.0,121000.0,250417.0
5,326030,SK바이오팜,2021.06.25,122000.0,0.0,122500.0,123000.0,121000.0,207002.0
...,...,...,...,...,...,...,...,...,...
9,326030,SK바이오팜,2021.02.15,152000.0,500.0,153000.0,153500.0,151000.0,149945.0
10,326030,SK바이오팜,2021.02.10,152500.0,3000.0,149500.0,153000.0,149000.0,441432.0
11,326030,SK바이오팜,2021.02.09,149500.0,0.0,150000.0,150500.0,148500.0,211201.0
12,326030,SK바이오팜,2021.02.08,149500.0,500.0,149000.0,150000.0,148000.0,171881.0
13,326030,SK바이오팜,2021.02.05,149000.0,500.0,150500.0,151000.0,148500.0,145785.0

## 내가 만든 함수의 기능과 소스코드가 궁금하다면?

In [ ]:
# 도움말 보기
# get_item_list?

In [ ]:
# 소스코드 보기
# get_item_list??